<div class='pt-20 flex flex-col items-center border-b border-gray-200'>
  <p class='text-lg font-medium'>Tell the world about yourself</p>
  <p class='max-w-[400px] text-center text-gray-500'>Here’s where you can share more about yourself: your history,
    work experience, accomplishments, interests, dreams, and more.
    You can even add images and use rich text to personalize your
    bio.</p>
  <button class='bg-green-600 text-white rounded-2xl mt-6 mb-10 px-8 py-1 hover:bg-green-700'>Get Started</button>
</div>
