<div class='flex w-full h-full justify-center items-center'>
  <form
    [formGroup]='passwordForm'
    class='password-form flex flex-col p-4 min-w-[400px] rounded'
    (ngSubmit)='setPassword()'>
    <input
      class='h-10 border-2 pl-2 rounded mb-4 w-full outline-gray-200'
      type='email'
      placeholder='Enter email'
      formControlName='email'
      required>
    <div class='relative'>
      <input
        class='h-10 border-2 pl-2 rounded mb-4 w-full outline-gray-200'
        type='password'
        placeholder='Enter password'
        formControlName='password'
        (input)='auth.validation($event)'
        #password
        required>
      <span
        *ngIf='showPassword'
        class="material-symbols-outlined absolute text-gray-600 right-2 top-2.5 hover:cursor-pointer select-none"
        (click)='hideFieldText("password")'>
          visibility
      </span>
      <span
        *ngIf='!showPassword'
        class="material-symbols-outlined absolute text-gray-600 right-2 top-2.5 hover:cursor-pointer select-none"
        (click)='showFieldText("password")'>
          visibility_off
      </span>
    </div>
    <div class='relative'>
      <input
        class='h-10 border-2 pl-2 rounded mb-4 w-full outline-gray-200'
        type='password'
        placeholder='Confirm password'
        formControlName='confirm'
        (input)='auth.validation($event)'
        #confirm
        required>
      <span
        *ngIf='showConfirm'
        class="material-symbols-outlined absolute text-gray-600 right-2 top-2.5 hover:cursor-pointer select-none"
        (click)='hideFieldText("confirm")'>
          visibility
      </span>
      <span
        *ngIf='!showConfirm'
        class="material-symbols-outlined absolute text-gray-600 right-2 top-2.5 hover:cursor-pointer select-none"
        (click)='showFieldText("confirm")'>
          visibility_off
      </span>
    </div>
    <button
      class='h-10 rounded bg-gray-700 text-white disabled:bg-gray-300 relative'
      [disabled]='!passwordForm.valid || isLoading'>
      Submit
      <app-spinner *ngIf='isLoading' class='absolute right-3 top-2 '></app-spinner>
    </button>
  </form>
</div>
